<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app>


    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserFindBySession</servlet-name>
        <servlet-class>servlet.UserFindBySession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserFindBySession</servlet-name>
        <url-pattern>/user/findBySession</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserFindById</servlet-name>
        <servlet-class>servlet.UserFindById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserFindById</servlet-name>
        <url-pattern>/user/findById</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>servlet.UserLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlet.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PwittSend</servlet-name>
        <servlet-class>servlet.PwittSend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PwittSend</servlet-name>
        <url-pattern>/pwitt/send</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PwittsFind</servlet-name>
        <servlet-class>servlet.PwittsFind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PwittsFind</servlet-name>
        <url-pattern>/pwitts/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FriendAdd</servlet-name>
        <servlet-class>servlet.FriendAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendAdd</servlet-name>
        <url-pattern>/friend/add</url-pattern>
    </servlet-mapping>
      
    <servlet>
        <servlet-name>FriendRemove</servlet-name>
        <servlet-class>servlet.FriendRemove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendRemove</servlet-name>
        <url-pattern>/friend/remove</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FriendsFind</servlet-name>
        <servlet-class>servlet.FriendsFind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendsFind</servlet-name>
        <url-pattern>/friends/find</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminWordsMapReduce</servlet-name>
        <servlet-class>servlet.AdminWordsMapReduce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminWordsMapReduce</servlet-name>
        <url-pattern>/admin/words/mapreduce</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminFreqsMapReduce</servlet-name>
        <servlet-class>servlet.AdminFreqsMapReduce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFreqsMapReduce</servlet-name>
        <url-pattern>/admin/freqs/mapreduce</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminPwittsDrop</servlet-name>
        <servlet-class>servlet.AdminPwittsDrop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPwittsDrop</servlet-name>
        <url-pattern>/admin/pwitts/drop</url-pattern>
    </servlet-mapping>
    
 </web-app>
