<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app>


    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>servlet.UserLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlet.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PwittAdd</servlet-name>
        <servlet-class>servlet.PwittAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PwittAdd</servlet-name>
        <url-pattern>/pwitt/add</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PwittsFind</servlet-name>
        <servlet-class>servlet.PwittsFind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PwittsFind</servlet-name>
        <url-pattern>/pwitts/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FriendAdd</servlet-name>
        <servlet-class>servlet.FriendAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendAdd</servlet-name>
        <url-pattern>/friend/add</url-pattern>
    </servlet-mapping>
      
    <servlet>
        <servlet-name>FriendRemove</servlet-name>
        <servlet-class>servlet.FriendRemove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendRemove</servlet-name>
        <url-pattern>/friend/remove</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminWordsMapReduce</servlet-name>
        <servlet-class>servlet.AdminWordsMapReduce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminWordsMapReduce</servlet-name>
        <url-pattern>/admin/words/mapreduce</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminPwittsDrop</servlet-name>
        <servlet-class>servlet.AdminPwittsDrop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPwittsDrop</servlet-name>
        <url-pattern>/admin/pwitts/drop</url-pattern>
    </servlet-mapping>
    
 </web-app>
