<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app>
	<servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>servlet.CreateUser</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    
 </web-app>
